PORT=3005
SESSION_SECRET=your_session_secret_here

# Database config for Local Run (without docker)
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASS=your_local_db_password_here
DB_NAME=math_reflex_db
DB_DIALECT=mysql

# External API for Auth & Profile
AUTH_API_BASE_URL=https://mysite.dev.br
# Set to 'true' to use mock auth service in case the external API is unreachable or doesn't exist
USE_MOCK_AUTH=true

# Database config for Docker Run
DOCKER_MYSQL_ROOT_PASSWORD=your_docker_root_password_here
DOCKER_MYSQL_DATABASE=math_reflex_db
DOCKER_MYSQL_USER=lorenzo_user
DOCKER_MYSQL_PASSWORD=your_docker_user_password_here

# Traefik & Routing config for Docker Run
DOCKER_ACME_EMAIL=your_email@domain.com
DOCKER_APP_HOST=lorenzo.mysite.dev.br
